% setdefault('naslov', 'Cena')
% rebase('osnova.html', izbrani_zavihek='cena')

<table class="table table-hover">
    <thead class="thead-light">
        <th>Št. vlaka</th>
        <th>Enosmerna vozovnica</th>
        <th>Povratna vozovnica</th>
    </thead>
    <tbody>
    % for (id, cena_enosmerne, cena_povratne) in cena:
        <tr>
            <td>{{ id }}</td>
            <td>{{ cena_enosmerne }}</td>
            <td>{{ cena_povratne }}</td>
        </tr>
    % end
    </tbody>
</table>

<!-- Filtriranje cene enosmerne -->
<!-- Filtriranje cene enosmerne in povratne -->
<form action="/cena" method="get">
    <label for="max_price_enosmerna">Maximum enosmerne cene:</label>
    <input type="number" id="max_price_enosmerna" name="max_price_enosmerna" min="0" step="0.01">
    
    <label for="max_price_povratna">Maksimum povratne cene:</label>
    <input type="number" id="max_price_povratna" name="max_price_povratna" min="0" step="0.01">
    
    <button type="submit" class="btn btn-primary">Filtriraj</button>
</form>

