% setdefault('naslov', 'Dodajanje delodajalca')
% rebase('osnova.html')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

<form action="{{url('dodaj_skupino')}}" method="POST">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="ime_skupine">Ime delodajalca:</label>
      <input id="ime_skupine" name="ime_skupine" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row col">
    <button class="btn btn-info" type="submit">
      Dodaj nov delodajalec
    </button>
  </div>
</form>