% setdefault('naslov', 'Vlaki')
% rebase('osnova.html', izbrani_zavihek='vlak')

  <table class="table table-hover">
  <thead class="thead-light">
     <th>Št. vlaka</th>
     <th>Št. prestopi</th>
     <th>Začetno mesto</th>
     <th>Končno mesto</th>
     <th>Čas odhoda</th>
     <th>Čas prihoda</th>
  </tr>
  %for (st_vlaka,st_prestopi,ime_mesta_zacetek,ime_mesta_konec,cas_odhoda,cas_prihoda) in vlak:
    <tr>
       <td>{{st_vlaka}}</td>
       <td>{{st_prestopi}}</td>
       <td>{{ime_mesta_zacetek}}</td>
       <td>{{ime_mesta_konec}}</td>
       <td>{{cas_odhoda}}</td>
       <td>{{cas_prihoda}}</td>

    </tr>
  %end
  </table>

<!-- Filter form for places -->
<form action="/vlak" method="get">
   <label for="filter_start">Izberi Začetno mesto:</label>
   <select name="filter_start" id="filter_start" class="form-control" required>
      % for id, ime_mesta in filter_start:
         <option value="{{ id }}">{{ ime_mesta }}</option>
      % end
   </select>

   <label for="filter_end">Izberi končno mesto:</label>
   <select name="filter_end" id="filter_end" class="form-control" required>
      % for id, ime_mesta in filter_end:
         <option value="{{id }}">{{ ime_mesta }}</option>
      % end
   </select>

   <button type="submit" class="btn btn-primary">Filtriraj</button>
</form>
